<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Currency Converter API Test Suite">
	<listeners>
		<listener class-name="com.currencyapi.listeners.ExtentReportListener" /> 
		<!-- <listener class-name="com.currencyapi.listeners.TestAllureListener" /> 
		<listener class-name="com.currencyapi.listeners.TesultsListener" />  -->
		
			
	</listeners>
	
	<test name="Currency Converter API Testcases">
		<classes>
			<class name="com.currencyapi.tests.ConvertCurrency"></class>
			<class name="com.currencyapi.tests.GetAvailableCurrencies"></class>
			<class name="com.currencyapi.tests.GetHistoricalCurrencyRate"></class>
		</classes>
	</test>

</suite>